1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "AlphaSonic"
      VALUE "FileDescription", "MeshViewer (c) 2021-2022 Benjamin Hampe"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "MeshViewer on DarkGPU"
      VALUE "LegalCopyright", "Meins"
      VALUE "OriginalFilename", "MeshViewer is test app for libDarkGPU"
      VALUE "ProductName", "MeshViewer"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

IDI_ICON1   ICON    DISCARDABLE   "icon.ico"
