1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "AlphaSonic"
      VALUE "FileDescription", "MinimalVst64Host (c) 2021-2022 Benjamin Hampe"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "MinimalVst64Host"
      VALUE "LegalCopyright", "Meins"
      VALUE "OriginalFilename", "MinimalVst64Host is test app for AudioSynth-qt"
      VALUE "ProductName", "MinimalVst64Host"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

IDI_ICON1   ICON    DISCARDABLE   "synth.ico"
